<div class="card">
  <mat-horizontal-stepper linear #stepper >
    <mat-step [stepControl]="testCreateFormGroup" [editable]="isEditable"> 
      <hr class="mt-0">     
      <form [formGroup]="testCreateFormGroup">
        <ng-template matStepLabel>Create a New Test</ng-template>  
        <div class="container">
          <div class="card">
            <div class="card-header h6">Create test</div>
            <div class="card-body" fxLayout="column">
              <mat-form-field>
                <input matInput placeholder="Test Name" formControlName="name" required>
              </mat-form-field> 
              <div fxLayout="row" fxLayoutGap="20px">
                <mat-form-field fxFlex>
                  <mat-select placeholder="Select Category" formControlName="category">
                    <mat-option *ngFor="let category of categories" [value]="category.value">
                      {{category.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>   
                <mat-form-field fxFlex>
                    <mat-select placeholder="Select Instructions" formControlName="instruction">
                      <mat-option *ngFor="let instruction of instructions" [value]="instruction.value">
                        {{instruction.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>    
              </div>              
              <div fxLayout="row" fxLayoutGap="20px">
                <mat-form-field fxFlex>
                    <mat-select placeholder="Select Test Duration" formControlName="duration">
                      <mat-option *ngFor="let duration of durations" [value]="duration.value">
                        {{duration.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                <mat-form-field fxFlex>
                  <input matInput placeholder="Total Questions" formControlName="total_questions" required>
                </mat-form-field> 
                <mat-form-field fxFlex>
                  <input matInput placeholder="Total Marks" formControlName="total_marks" required>
                </mat-form-field> 
              </div>      
           
              <mat-radio-group fxLayout="row" fxLayoutGap="20px" formControlName="template">
                  <mat-radio-button value="0">Default</mat-radio-button>
                  <mat-radio-button value="1">Option 1</mat-radio-button>
                  <mat-radio-button value="2">Option 1</mat-radio-button>
                  <mat-radio-button value="3">Option 2</mat-radio-button>
              </mat-radio-group>
                                  
            </div>            
              
            <div class="card-footer" fxLayout="row" fxLayoutAlign="end center">          
              <button type="button" mat-button (click)="createTest()">Next</button>       
            </div>
           
          </div>   
        </div>
      </form>  
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Test Setting</ng-template>
        <mat-form-field>
          <input matInput placeholder="Address" formControlName="secondCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
     <mat-step [stepControl]="thirdFormGroup" [editable]="isEditable">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Add Question</ng-template>
        <mat-form-field>
          <input matInput placeholder="Address" formControlName="thirdCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="forthFormGroup" [editable]="isEditable">
      <form [formGroup]="forthFormGroup">
        <ng-template matStepLabel>Publish</ng-template>
        <mat-form-field>
          <input matInput placeholder="Address" formControlName="forthCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    
    <mat-step [stepControl]="fifthFormGroup" [editable]="isEditable">
      <form [formGroup]="fifthFormGroup">
        <ng-template matStepLabel>Assign Test</ng-template>
        <mat-form-field>
          <input matInput placeholder="Address" formControlName="fifthCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>