<div class="card">
  <mat-horizontal-stepper linear #stepper >
    <mat-step [stepControl]="testCreateFormGroup" [editable]="isEditable"> 
      <hr class="mt-0">     
      <form [formGroup]="testCreateFormGroup">
        <ng-template matStepLabel>Create a New Test</ng-template>  
        <div class="container">
          <div class="card">
            <div class="card-header h5">Create Test</div>
            <div class="card-body" fxLayout="column">
              <mat-form-field>
                <input matInput placeholder="Test Name" formControlName="name" required>
              </mat-form-field> 
              <div fxLayout="row" fxLayoutGap="20px">
                <mat-form-field fxFlex>
                  <mat-select placeholder="Select Category" formControlName="category">
                    <mat-option *ngFor="let category of categories" [value]="category.value">
                      {{category.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>   
                <mat-form-field fxFlex>
                    <mat-select placeholder="Select Instructions" formControlName="instruction">
                      <mat-option *ngFor="let instruction of instructions" [value]="instruction.value">
                        {{instruction.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>    
              </div>              
              <div fxLayout="row" fxLayoutGap="20px">
                <mat-form-field fxFlex>
                    <mat-select placeholder="Select Test Duration" formControlName="duration">
                      <mat-option *ngFor="let duration of durations" [value]="duration.value">
                        {{duration.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                <mat-form-field fxFlex>
                  <input matInput placeholder="Total Questions" formControlName="total_questions" required>
                </mat-form-field> 
                <mat-form-field fxFlex>
                  <input matInput placeholder="Total Marks" formControlName="total_marks" required>
                </mat-form-field> 
              </div>      
           
              <mat-radio-group fxLayout="row" fxLayoutGap="20px" formControlName="template">
                  <mat-radio-button value="0">Default</mat-radio-button>
                  <mat-radio-button value="1">Option 1</mat-radio-button>
                  <mat-radio-button value="2">Option 1</mat-radio-button>
                  <mat-radio-button value="3">Option 2</mat-radio-button>
              </mat-radio-group>
                                  
            </div>            
              
            <div class="card-footer" fxLayout="row" fxLayoutAlign="end center">          
              <!-- <button type="button" mat-button (click)="createTest()">Next</button>        -->
              <button mat-button matStepperNext>Next</button>
            </div>
           
          </div>   
        </div>
      </form>  
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">

      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Test Settings</ng-template>
        <div class="container">
            <div class="card">
              <div class="card-header h5">Create Test Settings</div>
              <div class="card-body" fxLayout="column">
                <mat-accordion class="example-headers-align">
                  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Test Options
                      </mat-panel-title>
                      <mat-panel-description>
                        Set the required fields for a candidate appearing in the test                        
                      </mat-panel-description>
                    </mat-expansion-panel-header>      
                    <mat-list>
                      <mat-list-item> 
                        <div fxFill fxLayout="row" fxLayoutAlign="space-between center">
                          <div fxFlex="60">Mandatory to attempt all questions</div>
                          <div fxFlex="40">
                            <mat-radio-group>
                              <mat-radio-button value="1" class="m-3">Yes</mat-radio-button>
                              <mat-radio-button value="0" class="m-3">No</mat-radio-button>
                            </mat-radio-group>  
                          </div>   
                        </div>                                                
                      </mat-list-item>
                      <hr>
                      <mat-list-item>  
                        <mat-checkbox>Show marks/points for test</mat-checkbox>
                      </mat-list-item>
                      <mat-list-item> 
                        <mat-checkbox>Allow user to move back and forward</mat-checkbox>
                      </mat-list-item>
                    </mat-list> 
                    <mat-action-row>
                      <button mat-button color="primary" (click)="nextStep()">Next</button>
                    </mat-action-row>
                  </mat-expansion-panel>
                
                  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Arrangement And Grouping
                      </mat-panel-title>
                      <mat-panel-description>
                        Shuffle and bundle questions to create vivid sets with similar questions                     
                      </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div fxLayout="column"> 
                      <div fxLayout="row" fxFill fxLayoutAlign="start center" class="border-bottom border-top" >
                        <div fxFlex="30" class="font-weight-bold">Grouping</div>
                        <div fxFlex="70" fxLayout="column" fxLayoutAlign="center center"> 
                          <div fxLayout="row" fxFill fxLayoutAlign="start center" class="border-bottom">
                            <div fxFlex="70">Grouping questions section-wise</div>                              
                            <mat-radio-group fxFlex="30">
                              <mat-radio-button value="1" class="m-3">Yes</mat-radio-button>
                              <mat-radio-button value="0" class="m-3">No</mat-radio-button>
                            </mat-radio-group>                            
                          </div>                         
                          <div fxLayout="row" fxFill fxLayoutAlign="start center">
                            <div fxFlex="70">Shuffle Questions within sections</div>
                            <mat-radio-group fxFlex="30">
                              <mat-radio-button value="1" class="m-3">Yes</mat-radio-button>
                              <mat-radio-button value="0" class="m-3">No</mat-radio-button>
                            </mat-radio-group>  
                          </div>
                        </div>
                      </div>                        
                      <div fxLayout="row" fxFill fxLayoutAlign="start center">
                        <div fxFlex="30" class="font-weight-bold">Shuffling</div>
                        <div fxFlex="70" fxLayout="column" fxLayoutAlign="center center"> 
                          <div fxLayout="row" fxFill fxLayoutAlign="start center">
                            <div fxFlex="70">Optionwise Shuffling</div>                              
                            <mat-radio-group fxFlex="30">
                              <mat-radio-button value="1" class="m-3">Yes</mat-radio-button>
                              <mat-radio-button value="0" class="m-3">No</mat-radio-button>
                            </mat-radio-group>                            
                          </div>     
                        </div>
                      </div>
                    </div>    
                    <mat-action-row>
                      <button mat-button color="warn" (click)="prevStep()">Previous</button>
                      <button mat-button color="primary" (click)="nextStep()">Next</button>
                    </mat-action-row>
                  </mat-expansion-panel>  

                  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(1)" hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Generate Rank
                      </mat-panel-title>
                      <mat-panel-description>
                        To produce the position of the candidates appearing in a test                 
                      </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div fxLayout="column"> 
                      <div fxLayout="row" fxFill fxLayoutAlign="start center" class="border-bottom border-top" >
                        <div fxFlex="30" class="font-weight-bold">Generate Rank</div>
                        <div fxFlex="70" fxLayout="column" fxLayoutAlign="center center"> 
                          <div fxLayout="row" fxFill fxLayoutAlign="start center" class="border-bottom">
                            <div fxFlex="65">Calculate the ranks using automated or manual variations</div>                              
                            <mat-radio-group fxFlex="35">
                              <mat-radio-button value="1" class="m-3">Automated</mat-radio-button>
                              <mat-radio-button value="0" class="m-3">Manual</mat-radio-button>
                            </mat-radio-group>                            
                          </div>     
                        </div>
                      </div>                        
                      <div fxLayout="row" fxFill fxLayoutAlign="start center">
                        <div fxFlex="30" class="font-weight-bold">Rank</div>
                        <div fxFlex="70" fxLayout="column" fxLayoutAlign="center center"> 
                          <div fxLayout="row" fxFill fxLayoutAlign="start center" class="border-bottom">
                            <div fxFlex="70">Allow Duplicate ranks</div>                              
                            <mat-radio-group fxFlex="30">
                              <mat-radio-button value="1" class="m-3">Yes</mat-radio-button>
                              <mat-radio-button value="0" class="m-3">No</mat-radio-button>
                            </mat-radio-group>                            
                          </div>     
                          <div fxLayout="row" fxFill fxLayoutAlign="start center">
                            <div fxFlex="70">Skip rank after a duplicate</div>                              
                            <mat-radio-group fxFlex="30">
                              <mat-radio-button value="1" class="m-3">Yes</mat-radio-button>
                              <mat-radio-button value="0" class="m-3">No</mat-radio-button>
                            </mat-radio-group>                            
                          </div>  
                        </div>
                      </div>
                    </div>    
                    <mat-action-row>
                      <button mat-button color="warn" (click)="prevStep()">Previous</button>
                      <button mat-button color="primary" (click)="nextStep()">Next</button>
                    </mat-action-row>
                  </mat-expansion-panel> 

                </mat-accordion>
              </div>  
              <div class="card-footer" fxLayout="row" fxLayoutAlign="end center">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </div>  
          </div>  
      </form>
    </mat-step>
     <mat-step [stepControl]="thirdFormGroup" [editable]="isEditable">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Add Question</ng-template>
        <mat-form-field>
          <input matInput placeholder="Address" formControlName="thirdCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="forthFormGroup" [editable]="isEditable">
      <form [formGroup]="forthFormGroup">
        <ng-template matStepLabel>Publish</ng-template>
        <mat-form-field>
          <input matInput placeholder="Address" formControlName="forthCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    
    <mat-step [stepControl]="fifthFormGroup" [editable]="isEditable">
      <form [formGroup]="fifthFormGroup">
        <ng-template matStepLabel>Assign Test</ng-template>
        <mat-form-field>
          <input matInput placeholder="Address" formControlName="fifthCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>