<div class="card">
  <mat-horizontal-stepper linear #stepper >
    <mat-step [stepControl]="testCreateFormGroup" [editable]="isEditable"> 
      <hr class="mt-0">     
      <form [formGroup]="testCreateFormGroup">
        <ng-template matStepLabel>Create a New Test</ng-template>  
        <div class="container">
          <div class="card">
            <div class="card-header h6">Create test</div>
            <div class="card-body" fxLayout="column">
              <mat-form-field>
                <input matInput placeholder="Test Name" formControlName="test_name" required>
              </mat-form-field> 
              <mat-form-field class="font-size85">
                <mat-select placeholder="Select Category">
                  <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>      
              <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>                  
            </div>
            <div class="card-footer" fxLayout="row" fxLayoutAlign="end center">          
              <button mat-button matStepperNext>Next</button>       
            </div>
           
          </div>   
        </div>
      </form>  
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Test Setting</ng-template>
        <mat-form-field>
          <input matInput placeholder="Address" formControlName="secondCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
     <mat-step [stepControl]="thirdFormGroup" [editable]="isEditable">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Add Question</ng-template>
        <mat-form-field>
          <input matInput placeholder="Address" formControlName="thirdCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="forthFormGroup" [editable]="isEditable">
      <form [formGroup]="forthFormGroup">
        <ng-template matStepLabel>Publish</ng-template>
        <mat-form-field>
          <input matInput placeholder="Address" formControlName="forthCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    
    <mat-step [stepControl]="fifthFormGroup" [editable]="isEditable">
      <form [formGroup]="fifthFormGroup">
        <ng-template matStepLabel>Assign Test</ng-template>
        <mat-form-field>
          <input matInput placeholder="Address" formControlName="fifthCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>