<div class="card">
  <div class="card-header h5 text-muted">
    Create Group
  </div>
  <div class="card-body">
    <mat-dialog-content [formGroup]="form">
      <mat-form-field fxFill>
        <input matInput placeholder="Name" formControlName="name">
      </mat-form-field>
      <mat-form-field fxFill>
          <textarea matInput placeholder="Description" formControlName="description"></textarea>
      </mat-form-field>
    </mat-dialog-content>
  </div>  
</div> 
 
<mat-dialog-actions fxLayoutAlign="end center">
  <button class="mat-raised-button"(click)="close()">Close</button>
  <button class="mat-raised-button mat-accent" (click)="create_or_edit()">Save</button>
</mat-dialog-actions>
 
