<div fxLayout="column">
  <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
  <mat-sidenav-container fxLayout="row">
    <mat-sidenav fxFlex #sidenav role="nagivation" mode="side" opened>
      <app-sidenav-list  [isLoggedIn]="isLoggedIn" [sideNavListArray]="sideNavListArray"
                         (logout)= "onLogOut()" >
      </app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlex>  
      <div class="content">
        <router-outlet></router-outlet> 
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>