<!-- <div fxLayout="column">
  <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
  <mat-sidenav-container fxLayout="row" fxLayout.sm="column">
    <mat-sidenav fxFlex #sidenav role="nagivation" mode="side" opened>
      <app-sidenav-list  [isLoggedIn]="isLoggedIn" [sideNavListArray]="sideNavListArray"
                         (logout)= "onLogOut()" >
      </app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlex>  
      <div class="content">
        <router-outlet></router-outlet> 
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div> -->
<mat-toolbar color="primary" fxLayoutAlign="stretch">
  <button mat-button routerLink="/">
    <h2 class="mat-h2">Evaluto</h2>
  </button>   
  <div fxLayout="row">     
    <button mat-button 
            routerLink="/admin/home" 
            routerLinkActive="nav-item-active">
            Dashboard
    </button> 
    <button mat-button 
            routerLink="/admin/quiz/"
            routerLinkActive="nav-item-active">
            Quizzes
    </button>   
    <button mat-button 
            routerLink="/admin/surveys/"
            routerLinkActive="nav-item-active">
            Surveys
    </button> 
    <button mat-button 
            routerLink="/admin/polls/"
            routerLinkActive="nav-item-active">
            Polls
    </button> 
    <button mat-button 
            routerLink="/admin/uam/"
            routerLinkActive="nav-item-active">
            User Access Management
    </button> 
  </div>
</mat-toolbar>
<div class="container-fluid p-0">
  <router-outlet></router-outlet>
</div>


