<mat-toolbar class="toolbar-50" style="background-color: #B2DFDB !important"                          
             fxLayoutAlign="stretch" >                                   
    <button mat-button  
            fxFlexOffset="10"
            routerLink="/admin/quiz/home" 
            routerLinkActive="nav-subitem-active">
            Dashboard
    </button> 
    <button mat-button 
            routerLink="/admin/quiz/questions" 
            routerLinkActive="nav-subitem-active">
            Question Bank
    </button>  
</mat-toolbar>

<div class="container">
    <router-outlet></router-outlet>
</div>

