<mat-toolbar class="toolbar-50" style="background-color: #B2DFDB !important"
             fxLayoutGap="20px"            
             fxLayoutAlign="start stretch" >      
    <button mat-button 
            routerLink="/admin/uam/users" 
            routerLinkActive="nav-subitem-active">
            Users
    </button> 
    <button mat-button 
            routerLink="/admin/uam/groups" 
            routerLinkActive="nav-subitem-active">
            Groups
    </button>  
</mat-toolbar>

<div class="container">
    <router-outlet></router-outlet>
</div>