<mat-toolbar class="toolbar-50 mb-2">
  <span fxFlexOffset="5">My Dashboard</span>
</mat-toolbar>

<div fxLayout="row" fxLayoutAlign="space-evenly center" >
  <div fxFlex="24">
    <mat-card>   
      <mat-card-content fxLayout="row" fxLayoutAlign="space-around center">
        <div fxFlex="50" class="text-muted">
          <mat-icon>group</mat-icon> 
        </div>       
        <div fxFlex="50" fxLayout="column">
          <h3>23</h3>
          <div class="text-muted">Total Candidates</div>
        </div>    
      </mat-card-content>
    </mat-card>        
  </div>
  <div fxFlex="24">
    <mat-card>   
      <mat-card-content fxLayout="row" fxLayoutAlign="space-around center">
        <div fxFlex="50" class="text-muted">
          <mat-icon>format_list_numbered</mat-icon> 
        </div>       
        <div fxFlex="50" fxLayout="column">
          <h3>23</h3>
          <div class="text-muted">Total Questions</div>
        </div>    
      </mat-card-content>
    </mat-card>        
  </div>
  <div fxFlex="24">
    <mat-card>   
      <mat-card-content fxLayout="row" fxLayoutAlign="space-around center">
        <div fxFlex="50" class="text-muted">
          <mat-icon>assessment</mat-icon> 
        </div>       
        <div fxFlex="50" fxLayout="column">
          <h3>23</h3>
          <div class="text-muted">Total Tests</div>
        </div>    
      </mat-card-content>
    </mat-card>        
  </div>
  <div fxFlex="24">
    <mat-card>   
      <mat-card-content fxLayout="row" fxLayoutAlign="space-around center">
        <div fxFlex="50" class="text-muted">
          <mat-icon>shopping_cart</mat-icon> 
        </div>       
        <div fxFlex="50" fxLayout="column">
          <h3>23</h3>
          <div class="text-muted">Total Products</div>
        </div>    
      </mat-card-content>
    </mat-card>        
  </div>
</div>

