

Hello <%= String.capitalize(@first_name) %>,

Follow this link to verify your email account. 
Also please make note of your company code <%= @tenant_code %>, you will require this for accessing your account.
   
<%= @verification_url %>

  
If you didn't ask to verify this address, you can ignore this email

Thanks,
Evaluto Team