<div class="card">
  <div class="card-header">
    Select Question Type 
  </div>
  <div class="card-body">  
    <mat-dialog-content>
      <mat-select [(ngModel)]="choosenQuestionType" placeholder="Question Type">
        <mat-option *ngFor="let questionType of questionTypes" [value]="questionType">
          {{ questionType }}
        </mat-option>
      </mat-select>
    </mat-dialog-content>
  </div>
  <div class="card-footer">     
    <mat-dialog-actions class="m-0 p-0">       
      <button mat-button (click)="dialogRef.close()">
        Cancel
      </button>
      <button mat-raised-button (click)="confirmSelection()" [disabled]="!choosenQuestionType" color="primary">
        Proceed
      </button>
    </mat-dialog-actions>
  </div> 
</div>  
