<div class="card">
  <div class="card-header">
    Select Question Type 
  </div>
  <div class="card-body">  
    <mat-radio-group  [(ngModel)]="choosenQuestionType">
      <mat-radio-button *ngFor="let questionType of questionTypes" 
                        class="m-3"                                       
                        [value]="questionType">
                        {{ questionType }}
      </mat-radio-button>
    </mat-radio-group>  
  </div>
  <div class="card-header">
    Select Layout
  </div>
  <div class="card-body">  
    <mat-radio-group  [(ngModel)]="choosenLayoutType">
      <mat-radio-button *ngFor="let layoutType of layoutTypes" 
                        class="m-3"                                       
                        [value]="layoutType">
                        {{ layoutType }}
      </mat-radio-button>
    </mat-radio-group>  
  </div>
  <div class="card-footer">     
    <mat-dialog-actions class="m-0 p-0">       
      <button mat-button (click)="dialogRef.close()">
        Cancel
      </button>
      <button mat-raised-button (click)="confirmSelection()" color="primary">
        Proceed
      </button>
    </mat-dialog-actions>
  </div> 
</div>  
