<div class="card">
  <h5 class="card-header">Question</h5>
  <div class="card-body">
    <p class="mb-3 small">{{ question?.title }}</p>
    <div class="my-2" fxLayout="row" *ngFor="let choice of question?.choices; let i = index;">
      <div fxFlex="3">
          <mat-icon *ngIf="choice.correct" class="green">done</mat-icon>
      </div>
      <div fxFlex="2" class="text-muted small">{{numberToChar(i)}}</div>
      <div fxFlex="95" class="text-muted small"> {{ choice.title }}</div>
    </div>       
  </div>
  <div class="card-footer">
    <button  mat-button type="button" color="primary" 
      [routerLink]= "['/admin/quiz/questions/list']">
      Back
    </button> 
    <button  mat-button type="button" color="primary" 
      [routerLink]= "['/admin/quiz/questions', question.id, 'edit']">
      Edit
    </button>    
  </div>
</div>