<div class="card">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="card-header">
    <h5 class="text-muted">Add User</h5>
    <div>
      <span class="small text-primary hover-click"
                          [routerLink]= "['/admin/uam/users/list']">
                          Users
      </span> 
      <span class="small text-muted">/ </span>
      <span class="small text-muted">Create</span>
    </div>  
  </div>  
  <div class="card-body">
    <mat-dialog-content [formGroup]="form">
      <h6 class="text-muted">Login Details</h6>
      <mat-divider></mat-divider>
      <div fxLayout="row" fxLayoutGap="20px">
        <mat-form-field fxFlex>
            <input matInput placeholder="Email" formControlName="username">
        </mat-form-field>
        <mat-form-field fxFlex>
            <input matInput placeholder="Password" formControlName="password">
        </mat-form-field>
      </div>

      <h6 class="text-muted mt-3">Candidate Details</h6>
      <mat-divider class="mb-3"></mat-divider>
      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-around center">
        <mat-form-field fxFlex>
          <input matInput placeholder="First Name" formControlName="first_name">
        </mat-form-field>
        <mat-form-field fxFlex>
            <input matInput placeholder="Last Name" formControlName="last_name">
        </mat-form-field>
        <mat-radio-group fxFlex>
          <mat-radio-button value="male" class="mr-2">Male</mat-radio-button>
          <mat-radio-button value="female">Female</mat-radio-button>
        </mat-radio-group>          
      </div>

      <h6 class="text-muted mt-3">Group Details</h6>
      <mat-divider  class="mb-3"></mat-divider>
      <div fxLayout="row" fxLayoutGap="20px">  
        <mat-form-field>
          <mat-select formControlName="role">    
            <mat-option value="admin">Admin</mat-option>
            <mat-option value="instructor">Instructor</mat-option>
            <mat-option value="participant">Participant</mat-option>    
          </mat-select>
        </mat-form-field>
      </div>      
    </mat-dialog-content>
  </div>  
  <div class="card-footer" fxLayout="row" fxLayoutAlign="end" >
    <mat-dialog-actions>
      <button class="mat-raised-button mat-accent" (click)="create()">Save</button>
    </mat-dialog-actions>
  </div>   
</div>
 

